<?xml version='1.0' encoding='UTF-8'?>
<user>
    <fullName>jenkins.admin</fullName>
    <properties>
        <jenkins.security.ApiTokenProperty>
            <apiToken>FAUE/LWPlYGCEbAGZ5TXwlWxOpyx/D/eHZcyKtkqd5GxPewvd1SzfURXKrUdSmYr</apiToken>
        </jenkins.security.ApiTokenProperty>
        <hudson.model.MyViewsProperty>
            <views>
                <hudson.model.AllView>
                    <owner class="hudson.model.MyViewsProperty" reference="../../.."/>
                    <name>All</name>
                    <filterExecutors>false</filterExecutors>
                    <filterQueue>false</filterQueue>
                    <properties class="hudson.model.View$PropertyList"/>
                </hudson.model.AllView>
            </views>
        </hudson.model.MyViewsProperty>
        <hudson.model.PaneStatusProperties>
            <collapsed/>
        </hudson.model.PaneStatusProperties>
        <hudson.search.UserSearchProperty>
            <insensitiveSearch>false</insensitiveSearch>
        </hudson.search.UserSearchProperty>
        <hudson.security.HudsonPrivateSecurityRealm_-Details>
            <passwordHash>ZTE0:7c6454a4e0f9509f1b33b50d4dbb233ff2e7bdff7ca0a282248b8579aad013d8</passwordHash>
        </hudson.security.HudsonPrivateSecurityRealm_-Details>
        <jenkins.security.LastGrantedAuthoritiesProperty>
            <roles>
                <string>authenticated</string>
            </roles>
            <timestamp>1462205585292</timestamp>
        </jenkins.security.LastGrantedAuthoritiesProperty>
    </properties>
</user>
